DemoProject/Library/
DemoProject/Temp/
DemoProject/.vs/
DemoProject/Assembly-CSharp.csproj/
DemoProject/DemoProject.sln/
DemoProject/obj/
DemoProject/ProjectSettings/ProjectSettings.asset/
DemoProject/Assembly-CSharp.csproj/
DemoProject/.vs/DemoProject/v15/.suo/
DemoProject/Assembly-CSharp.csproj
DemoProject/DemoProject.sln
